language: python
python:
  - "2.7"
# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "pip install -r requirements_dev.txt"
# command to run tests
script:
  - pep8
  - pylint
  - nosetests ccuapi